<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">


	<resultMap id="productSelectMap" type="product">
		<result property="fileName" column="image_file" jdbcType="VARCHAR" />
		<result property="manuDate" column="manufacture_Day" jdbcType="VARCHAR" />
		<result property="price" column="price" jdbcType="NUMERIC" />
		<result property="prodDetail" column="prod_detail" jdbcType="VARCHAR" />
		<result property="prodName" column="prod_name" jdbcType="VARCHAR" />
		<result property="prodNo" column="prod_no" jdbcType="INTEGER" />
		<result property="quantity" column="quantity" jdbcType="INTEGER" />
		<result property="stock" column="stock" jdbcType="INTEGER" />
		<result property="regDate" column="reg_date" jdbcType="DATE" />
		<result property="proTranCode" column="tran_status_code"
			jdbcType="CHAR" />
	</resultMap>

	<select id="getAutoComplete" parameterType='search' resultMap='productSelectMap'>
	SELECT
						p.prod_no, p.prod_name, p.prod_detail, p.manufacture_Day, p.price, p.image_file,
						p.reg_date, stock, quantity
						FROM product p
						<where>
							p.deleted IS NULL 
							<if test="searchCondition != null">
								<if test="searchCondition==0 and searchKeyword!=''">
									AND p.prod_no LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition==1 and searchKeyword!=''">
									AND p.prod_name LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition==3">
									AND p.stock > 0 
								</if>
							</if>
				
							<if test="priceSearch">
								<if test="searchKeyword1!=0 and searchKeyword2 !=0">
									<if test="searchKeyword1 &lt; searchKeyword2">
										AND p.price BETWEEN #{searchKeyword1} AND #{searchKeyword2}
									</if>
									<if test="searchKeyword1 &gt; searchKeyword2">
										AND p.price BETWEEN #{searchKeyword2} AND #{searchKeyword1}
									</if>
									<if test="searchKeyword1 !=0 and searchKeyword2 == 0">
										AND p.price &lt;= #{searchKeyword1};
									</if>
								</if>
							</if>
						</where>
				
						<if test="sorting != null">
							<if test="sorting=='priceASC'">
								ORDER BY p.price
							</if>
							<if test="sorting=='priceDESC'">
								ORDER BY p.price DESC
							</if>
							<if test="sorting=='prodNo'">
								ORDER BY p.prod_no
							</if>
							<if test="sorting == 'recently'">
								ORDER BY p.reg_date DESC
							</if>
						</if>
						<if test="sorting == null">
							ORDER BY p.prod_no
						</if>
	</select>  

	<!-- SQL : INSERT -->
	<insert id="insertProduct" parameterType="product">
		INSERT
		INTO product( prod_no , prod_name , prod_detail , manufacture_day ,
		price, image_file, reg_date, stock, quantity)
		VALUES ( seq_product_prod_no.nextval,
		#{prodName},#{prodDetail:VARCHAR},#{manuDate:VARCHAR},#{price:NUMERIC},#{fileName:VARCHAR},SYSDATE, #{quantity}, #{quantity})
	</insert>

	<!-- SQL : SELECT ONE -->
	<select id="findProduct" parameterType="int" resultMap="productSelectMap">
		SELECT
		p.prod_no, p.prod_name, p.prod_detail, p.manufacture_Day,
		p.price, p.image_file, p.reg_date,stock, quantity
		FROM product p
		WHERE p.prod_no=#{_parameter} AND p.deleted IS NULL
	</select>

	<!-- SQL : UPDATE -->
	<update id="updateProduct" parameterType="product">
		UPDATE product
		<trim prefix="SET" prefixOverrides=",">
			<if test="prodName!=null">
			prod_name=#{prodName}
			</if>
			<if test="prodDetail!=null">
			,prod_detail=#{prodDetail}
			</if>
			<if test="manuDate!=null">
			,manufacture_Day=#{manuDate}
			</if>
			<if test="price!=0">
			,price=#{price:NUMERIC}
			</if>
			<if test="fileName!=null">
			,image_file=#{fileName}
			</if>
			<if test="quantity!=0">
			,quantity=#{quantity}, stock=#{quantity}
			</if>
			<if test="stock!=0">
			, stock=#{stock}
			</if>
		</trim>
		WHERE prod_no=#{prodNo}
	</update>

	<!-- SQL : SELECT LIST -->
	<select id="getProductList" parameterType="search" resultMap="productSelectMap">
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
				FROM ( SELECT
						p.prod_no, p.prod_name, p.prod_detail, p.manufacture_Day, p.price, p.image_file,
						p.reg_date,stock, quantity 
						FROM product p 
						<where>
							p.deleted IS NULL  
							<if test="searchCondition != null">
								<if test="searchCondition==0 and searchKeyword!=''">
									AND p.prod_no LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition==1 and searchKeyword!=''">
									AND p.prod_name LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition==3">
									AND p.stock > 0 
								</if>
							</if>
				
							<if test="priceSearch">
								<if test="searchKeyword1!=0 and searchKeyword2 !=0">
									<if test="searchKeyword1 &lt; searchKeyword2">
										AND p.price BETWEEN #{searchKeyword1} AND #{searchKeyword2}
									</if>
									<if test="searchKeyword1 &gt; searchKeyword2">
										AND p.price BETWEEN #{searchKeyword2} AND #{searchKeyword1}
									</if>
									<if test="searchKeyword1 !=0 and searchKeyword2 == 0">
										AND p.price &lt;= #{searchKeyword1};
									</if>
								</if>
							</if>
						</where>
				
						<if test="sorting != null">
							<if test="sorting=='priceASC'">
								ORDER BY p.price
							</if>
							<if test="sorting=='priceDESC'">
								ORDER BY p.price DESC
							</if>
							<if test="sorting=='prodNo'">
								ORDER BY p.prod_no
							</if>
							<if test="sorting == 'recently'">
							ORDER BY p.reg_date DESC
							</if>
						</if>
						<if test="sorting == null">
							ORDER BY p.prod_no
						</if>
						) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
				WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<!-- 위 두번째 subQuery 의 WHERE ROWNUM &lt;= #{endRowNum} ) 는 WHERE ROWNUM <= 
		#{endRowNum} ) 의미이며.. < 는 keyword 로 &lt; 를 사용. <![CDATA[ ~~~ ]]> 를 이용하여 아래와 
		같이 사용 할 수 있다. CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리 WHERE ROWNUM 
		<![CDATA[ <=]]> #{endRowNum} ) -->

	<!-- SQL : SELECT ROW Count -->
	<select id="getTotalCount" parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM( SELECT
						p.prod_no, p.prod_name, p.prod_detail, p.manufacture_Day, p.price, p.image_file,
						p.reg_date, stock, quantity 
						FROM product p 
						<where>
							p.deleted IS NULL 
							<if test="searchCondition != null">
								<if test="searchCondition == 0 and searchKeyword!=''">
									AND p.prod_no LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition == 1 and searchKeyword!=''">
									AND p.prod_name LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition==3">
									AND p.stock > 0 
								</if>
							</if>
				
							<if test="priceSearch">
								<if test="searchKeyword1!=0 and searchKeyword2 !=0">
									<if test="searchKeyword1 &lt; searchKeyword2">
										AND p.price BETWEEN #{searchKeyword1} AND #{searchKeyword2}
									</if>
									<if test="searchKeyword1 &gt; searchKeyword2">
										AND p.price BETWEEN #{searchKeyword2} AND #{searchKeyword1}
									</if>
									<if test="searchKeyword1 !=0 and searchKeyword2 == 0">
										AND p.price &lt;= #{searchKeyword1};
									</if>
								</if>
							</if>
						</where>
				
						<if test="sorting != null">
							<if test="sorting=='priceASC'">
								ORDER BY p.price
							</if>
							<if test="sorting=='priceDESC'">
								ORDER BY p.price DESC
							</if>
							<if test="sorting=='prodNo'">
								ORDER BY p.prod_no
							</if>
							<if test="sorting == 'recently'">
								ORDER BY p.reg_date DESC
							</if>
						</if>

						) countTable
	</select>

	<update id="deleteProduct" parameterType="int">
		UPDATE product
		<set>
		deleted = '1'
		</set>
		WHERE prod_no=#{_parameter}
	</update>

</mapper>